server {
    listen 80;
    server_name {{ app_domain }} {% if app_domain_aliases is defined %}{{ app_domain_aliases }}{% endif %};

    root {{ app_root_dir }};

    return         301 https://$server_name$request_uri;
}

server {

    listen   443 ssl;

    ssl    on;
    ssl_certificate     /etc/ssl/private/{{ app_domain }}/{{ app_domain }}.chained.crt;
    ssl_certificate_key /etc/ssl/private/{{ app_domain }}/{{ app_domain }}.key;

    server_name {{ app_domain }} {% if app_domain_aliases is defined %}{{ app_domain_aliases }}{% endif %};

    access_log /var/log/nginx/{{ app_domain }}.access.log;
    error_log /var/log/nginx/{{ app_domain }}.error.log;

    passenger_enabled on;
    passenger_app_env {{ app_env }};

    root {{ app_root_dir }};

}
